.tab.tab-active:not(.tab-disabled):not([disabled]), .tab:is(input:checked){
    border-color: rgb(250 204 21);
}
.menu li > *:not(ul):not(.menu-title):not(details):active, .menu li > *:not(ul):not(.menu-title):not(details).active, .menu li > details > summary:active{
    background-color: rgb(226 183 11);
    color: #fff;
}